@inject SignInManager<ApplicationUser> signInManager;
@inject IConfiguration _config;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @_config["AppName"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@_config["AppName"]</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span class="fa fa-home mr-2"></span>Home</a>
                        </li>
                        @if (signInManager.IsSignedIn(User))
                        {
                    <li class="nav-item">
                        @*<a class="nav-link text-dark" asp-controller="Song" asp-action="Index"><span class="fa fa-music mr-2"></span>Add New Song</a>*@
                        <a class="nav-link text-dark" href="/Song/Index"><span class="fa fa-music mr-2"></span>Add New Song</a>
                    </li>
                            <li class="nav-item">
                                @*<a class="nav-link text-dark" asp-controller="Artist" asp-action="Index"><span class="fa fa-user mr-2"></span>Artists</a>*@
                                <a class="nav-link text-dark" href="/Artist/Index"><span class="fa fa-user mr-2"></span>Artists</a>
                            </li>
                            <li class="nav-item">
                                @*<a class="nav-link text-dark" asp-controller="Genre" asp-action="Index"><span class="fa fa-cubes mr-2"></span>Genre</a>*@
                                <a class="nav-link text-dark" href="/Genre/Index"><span class="fa fa-cubes mr-2"></span>Genre</a>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn btn-md"><span class="fa fa-sign-out mr-2"></span>Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login"><span class="fa fa-sign-in mr-2"></span>Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - @_config["AppName"] - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>

</body>
</html>
